/* Set the container for the grid */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Makes the columns fit the container, with a minimum of 200px and a maximum of 1fr */
    grid-gap: 20px; /* Adds spacing between the links */
    border: 2px solid #333; /* Adds a border around the container */
    padding: 40px; /* Adds padding inside the container to separate the links from the border */
}

.videocontainer {
    max-width: 1200px; /* adjust the maximum width as needed */
    margin: 0 auto; /* center the container horizontally */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* adjust the minimum width of the videos as needed */
    grid-gap: 20px; /* adjust the gap between videos as needed */
}

.video {
    width: 320px; /* adjust the width of the videos as needed */
}

/* Style the links */
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 2px solid #333;
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;
    -webkit-text-stroke: 1px #fff; /* set the width and color of the outline */
    text-fill-color: lime; /* set the color of the text */
    font-size: 20px;
    color: deepskyblue;
}

/* Add a hover effect to the links */
.link:hover {
    background-color: #000;
    color: #000000;
    text-decoration: underline;
}

/* Make the links responsive */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Reduces the minimum size of the columns to 150px */
        grid-gap: 10px; /* Reduces the gap between the links */
    }

    .link {
        height: 80px; /* Reduces the height of the links */
        font-size: 16px; /* Reduces the font size of the links */
    }
}

audio {
    max-width: 100%;
    max-height: 100%;
}